body{
    background-color: #e7fad7;
}

header{
    background-color: antiquewhite;
    padding: 20px;
}

footer{
    background-color: bisque;
    padding: 20px;
}

nav a{
    display: inline-block;
    margin: 0 10px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px red;
}
.shops-item {
    border: 2px solid red;
}
h3 {
    text-align: center;
}