* {
    margin: 0;
    /* padding: 0; */
}

html {
    font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
    background-color: rgb(212, 253, 253);
}

/* #head-1 {
    border: 3px solid rgb(38, 255, 0);
}

.head-1 {
    border: 3px solid rgb(42, 30, 147);
} */

h1 {
    color: blue;
    background-color: rgb(154, 248, 248);
    /* background-image: url(image-1.jpg); */
    border: 3px solid transparent;
    margin: 30px;

    /* стили для текста*/
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize;
    letter-spacing: 7px;

    font-family: 'Sofia Sans Condensed', sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 1000;
}

h1:hover {
    color: rgb(250, 164, 164);
    background-color: chartreuse;
    border: 3px solid rgb(80, 102, 207);
}

/* p {
    color: aqua;
    background-color: blue;
    text-align: right;
    font-size: large;
} */

/* h3 {
    color: blueviolet;
    background-color: aqua;
    font-size: 50px;
}

ul {
    background-color: cornsilk;
} */

.par-1 {
    color: rgb(9, 4, 4);
    background-color: rgb(227, 225, 225);
    margin: 20px;
}

.par-1 .important {
    font-weight: 800;
}

.head-3 {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: right;
    text-decoration: line-through;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* задаем стили для контейнера с пользователями */
.users {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 3px solid red;
    border-radius: 10px;
    margin: 30px;
}

.users .user {
    margin: 10px;
    background-color: blueviolet;
    border: 3px solid red;
}

.users .user img {
    width: 200px;
    height: 100px;
}

.users .user h2 {
    color: rgb(247, 0, 255);
}

.users .user-2 {
    /* class="user user-2" */
    background-color: rgb(43, 104, 226);
    border: 3px solid rgb(250, 164, 164)
}

.pic-1 {
    border: 8px solid #1b1d89;
    border-radius: 5px;
}

/* форма */
.reg-form {
    border: 5px solid rgb(115, 115, 247);
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}

.list-1 {
    border: 3px solid olivedrab;
    margin: 20px;
    padding: 15px;
}

.list-1 li {
    /* элементы списка у которых родитель имеет класс list-1 */
    margin: 10px;
    background-color: rgb(154, 203, 246);
    padding: 10px;
}